@import "../../color";

.doc-list {
  margin-right: 20px;
  border-radius: 5px;
  padding: 15px;
  flex-grow: 1;
  background: $gray;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  ul {
    list-style: none;
    color: #5e5e5e;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    .doc-list-item {
      display: flex;
      div {
        flex-grow: 1;
        width: 50%;
        padding: 5px;
      }
    }
    .doc-list-header {
      display: flex;
      margin-bottom: 10px;
      div {
        flex-grow: 1;
        width: 50%;
        padding: 5px;
      }
      &:last-child {
        margin-left: 25px;
      }
    }
    .doc-list-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
      color: $primary;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin: 3px;
          color: $primary;
          &.arrow div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            border: solid 1px $primary;
            background: $white;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
            &:active {
              position: relative;
              top: 1px;
            }
            &:focus {
              outline: 0;
            }
          }
        }
      }
    }
    .dark {
      background: #cbcbcb;
    }
    .light {
      background: $white;
    }
  }
}

@media screen and (max-width: 768px) {
  .doc-list {
    margin-left: 50px;
  }
}
