@import "../../color";

.container {
  .header {
    font-size: 18px;
    margin: 30px 20px;
    color: $black;
    font-family: Roboto, sans-serif;
  }
  .main {
    display: flex;
    align-items: flex-start;

   

  }
}


