@import "../../color";

.container {
  .header {
    font-size: 18px;
    margin: 30px 20px;
    color: $black;
    font-family: Roboto, sans-serif;
  }
  .main {
    display: flex;
    margin-bottom: 70px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .main  {
    display: block !important;
  }
}